<h1>↓ Subi tu listado de productos disponibles ACA ↓</h1>
<h5>Contrato:</h5>
<div id="contratoUpload">
    <h6>Cada producto tiene los siguientes atributos como precondicion:</h6>
    <ul>
        <li>id: NumeroEntero</li>
        <li>title: NombreDelProducto</li>
        <li>description: DescripcionDelProducto</li>
        <li>code: CodigoDeLetrasYNumerosMayusculas</li>
        <li>price: NumeroDePrecio</li>
        <li>status: EstadoEnBooleano</li>
        <li>stock: NumeroDeStock</li>
        <li>category: CategoriaDeProducto</li>
        <li>thumbnails: ImagenReducidaDeProducto</li>        
    </ul>
</div>

<form action="/upload" method="post" enctype="multipart/form-data">
    <label for="archivo">Selecciona un listado de productos</label>
    <input type="file" name="archivo" id="archivo" required>
    <button>Subir archivo .json</button>
</form>