<form action="/upload" method="post" enctype="multipart/form-data">
    <label for="archivo">Selecciona un archivo</label>
    <input type="file" name="archivo" id="archivo" required>
    <button>Subir archivo</button>
</form>

{{!-- SE SUPONE QUE ESTO ES LA INTERFAZ DE MULTER PARA SUBIR ARCHIVO --}}

{{!-- DEBERIA ESTAR EN INDEX LA LOGICA PARA QUE FUNCIONE --}}

{{!-- BUSCAR EN YT UN TUTORIAL SOBRE MULTER PARA SUBIR ARCHIVOS CON EXPRESS --}}